{# Refactored from Radix page.html.twig template to enable conditional #}
{# placement based on whether the sidebar region has content #}

{% if page.alerts %}
  <div class="container">
    {{ page.alerts }}
  </div>
{% endif %}

{% if page.header %}
  <header class="page__header container mb-3">
    {{ page.header }}
  </header>
{% endif %}

{% if page.content %}
  <div id="main-content" class="page__content">
    {{ page.content }}
  </div>
{% endif %}
