{#
/**
 * @file
 * Template for including JS Masthead:
 * https://gitlab.oit.duke.edu/dul-its/dul-masthead
 */
#}

{#
/**
 * TODO: See if we can simplify 
 */
#}

<div id="zone-masthead" class="zone zone-masthead">
  <div class="container">

    <!-- masthead filler that is replaced via javascript -->
    <div id="dul-masthead-filler">
      <div class="row">
        <div class="col-md-12">

          <div id="region-scoped-search-temp">
            <form class="dul-masthead-mastSearch" action="https://quicksearch.library.duke.edu/"><!-- Generic reusable hidden attributes --><input type="hidden" name="" value="" id="dul-masthead-hiddenfilter1" class="dul-masthead-hiddenMastFilter"><input type="hidden" name="" value="" id="dul-masthead-hiddenfilter2" class="dul-masthead-hiddenMastFilter"><input type="hidden" name="" value="" id="dul-masthead-hiddenfilter3" class="dul-masthead-hiddenMastFilter"><div><input class="dul-masthead-mastSearchBox" placeholder="Search articles, books, our website &amp; more" name="q" type="text"><div class="dul-masthead-btn-group"><button class="dul-masthead-btn" type="submit"></button></div></div></form>
          </div>

          <div class="dul-masthead-region-myaccount">
            <a id="dul-masthead-myAccounts" href="https://library.duke.edu/my-accounts">My Accounts</a>
            <a href="https://library.duke.edu/research/ask" id="dul-masthead-ask-librarian-link">Ask a Librarian</a>
            <a id="dul-masthead-account-hours" href="https://library.duke.edu/about/hours">Library Hours</a>
            <a id="dul-masthead-website-search-link" href="https://quicksearch.library.duke.edu/searcher/website">Search our Site</a>
          </div>

          <div class="dul-logo">
            <a href="https://library.duke.edu/"><img src="https://library.duke.edu/masthead/img/logo.png" alt="Duke University Libraries"></a>
          </div>

          <button id="dul-masthead-nav-trigger-btn" class="navbar-toggler" type="button">☰ Menu</button>

          <div id="dul-masthead-region-megamenu-temp">
            <nav aria-label="Main Duke University Libraries navigation">
              <ul class="dul-masthead-megamenu-temp">
                <li class="dul-masthead-megamenu_button" style="display: none;"><a class="dul-masthead-btn dul-masthead-dropdown-toggle" href="#_">Menu <span></span></a></li>
                <li class="dul-masthead-mega_toplevel-temp"><a href="https://library.duke.edu/find">Search &amp; Find</a></li>
                <li class="dul-masthead-mega_toplevel-temp"><a href="https://library.duke.edu/using">Using the Library</a></li>
                <li class="dul-masthead-mega_toplevel-temp"><a href="https://library.duke.edu/research">Research Support</a></li>
                <li class="dul-masthead-mega_toplevel-temp"><a href="https://library.duke.edu/course-support">Course Support</a></li>
                <li class="dul-masthead-mega_toplevel-temp"><a href="https://library.duke.edu/libraries">Libraries</a></li>
                <li class="dul-masthead-mega_toplevel-temp"><a href="https://library.duke.edu/about">About</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
