{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  
  {% set current_path = path('<current>') %}
  {% if current_path|render|render starts with '/exhibits' %}
    {% include directory ~ '/templates/page/exhibits_masthead.html.twig' %}
  {% else %}
    {% include directory ~ '/templates/page/js_masthead.html.twig' %}
  {% endif %}

  {% if page.breadcrumbs %}
    <div id="breadcrumbs" class="container">
      {{ page.breadcrumbs }}
    </div>
  {% endif %}

  <main class="pt-4 pb-5 container bg-white">
    {% if page.sidebar_first %}
      <div class="container">
        <div class="row">
          <div class="order-lg-2 col-lg-10">
            {% include directory ~ '/templates/page/header_and_content.html.twig' %}
          </div>
          <div id="sidebar" class="order-lg-1 col-lg-2">
            {{ page.sidebar_first }}
          </div>
        </div>
      </div>
    {% else %}
      {% include directory ~ '/templates/page/header_and_content.html.twig' %}
    {% endif %}
  </main>

  {% if page.footer %}
    {% include directory ~ '/templates/page/dulcet_footer.html.twig' %}
  {% endif %}
</div>
