// Boxes
// -----------------------------------------------------------------------------

.callbox {
  background: white;
  color: shade($success, 31%);
  border: 1px solid $success;
  text-transform: uppercase;
  padding: 0.3125rem;
  font-size: 0.8125rem;;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  &:hover {
    color: white;
    text-decoration: none;
    background: shade($success, 31%);
    border: 1px solid shade($success, 31%);
  }
}

.striped-back {
  background-image: linear-gradient(
    135deg,
    #ffffff 27.78%,
    $whisper-gray 27.78%,
    $whisper-gray 50%,
    #ffffff 50%,
    #ffffff 77.78%,
    $whisper-gray 77.78%,
    $whisper-gray 100%);
  background-size: 6px 6px;
}
