// DUL Variables
//
// Values declared here will override any existing values in:
// - Radix Bootstrap (base/_variables.scss)
// - Cosmo Bootswatch Theme (~bootswatch/dist/cosmo/variables)
// ===========================================================

//== General text styles
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");

$font-family-sans-serif: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
$font-size-base: 1.1rem !default;
$body-color: #333;

//== Colors

/* ================================= */
/* Duke Branding Guide colors        */
/* https://brand.duke.edu/colors/    */
/* ================================= */
$duke-navy-blue:    #012169 !default;
$duke-royal-blue:   #00539b !default;
$copper:            #c84e00 !default;
$persimmon:         #e89923 !default;
$dandelion:         #ffd960 !default;
$piedmont:          #a1b70d !default;
$eno:               #339898 !default;
$magnolia:          #1d6363 !default;
$prussian-blue:     #005587 !default;
$shale-blue:        #0577b1 !default;
$ironweed:          #993399 !default;
$hatteras:          #e2e6ed !default;
$whisper-gray:      #f3f2f1 !default;
$ginger-beer:       #fcf7e5 !default;
$dogwood:           #988675 !default;
$shackleford:       #dad0c6 !default;
$cast-iron:         #262626 !default;
$graphite:          #666666 !default;
$granite:           #b5b5b5 !default;
$limestone:         #e5e5e5 !default;

/* ======================================== */
/* DUL website colors (D7 Dulcet) ca. 2015  */
/* ======================================== */
$dul-masthead-blue:     #053482 !default;
$dul-dulcet-lightblue:  #235f9c !default;
$dul-dulcet-green:      #a1b70d !default;
$dul-dulcet-orange:     #f09905 !default;
$dul-dulcet-red:        #cc3300 !default;

$brand-primary:         #053482 !default;
$brand-secondary:       #042762 !default;
$brand-success:         #00830e !default;
$brand-danger:          #cc3300 !default;
$brand-warning:         #f09905 !default;
$brand-info:            #004ccc !default;

$gray-darker:           #222222 !default;
$gray-dark:             #333333 !default;
$gray:                  #555555 !default;
$gray-light:            #767676 !default; /* <-- lightest 4.5:1 on white */
$gray-light-more:       #cccccc !default;
$gray-lighter:          #eeeeee !default;
$facet-grey:            #f5f5f5 !default;
$gray-lightest:         #fafafa !default;

/* ======================================== */
/* Bootswatch Cosmo Overrides, see:  */
/* https://github.com/thomaspark/bootswatch/blob/v4/docs/4/cosmo/_variables.scss */
/* ======================================== */

/* Rescaled for DUL so these are true grays at 10% intervals */
$white:    #ffffff !default;
$gray-50:  #f3f3f3 !default; /* DUL addition */
$gray-100: #e6e6e6 !default;
$gray-150: #dadada !default; /* DUL addition */
$gray-200: #cdcdcd !default;
$gray-300: #b3b3b3 !default;
$gray-400: #9a9a9a !default;
$gray-500: #808080 !default;
/* <-----: $767676 is the lightest gray-on-white for WCAG a11y */
$gray-600: #666666 !default;
$gray-700: #4d4d4d !default;
$gray-800: #333333 !default;
$gray-900: #191919 !default;
$black:    #000000 !default;

/* Bootstrap color definitions */
$primary:       $dul-masthead-blue !default;
$secondary:     $gray-150 !default;
$success:       $dul-dulcet-green !default;
$info:          #004ccc !default;
$warning:       $dandelion !default;
$danger:        $copper !default;
$light:         $whisper-gray !default;
$dark:          $gray-800 !default;

$link-color: #004ccc;
$link-hover-color: tint($link-color, 16%);

/* =============================================== */
/* Other Variable Overrides, see:  _variables.scss */
/* =============================================== */

$enable-rounded: true !default;

// make alert border color match class variable e.g., $warning
$alert-border-level: 0;

$navbar-light-color: rgba($black, .6);
$navbar-dark-color: rgba($white, .75);

$breadcrumb-bg: transparent;
$breadcrumb-border-radius: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;

$thumbnail-border-radius: 0;

/* =============================================== */
/* Layout Max Width Customizations: intent is to   */
/* cap at 30px less than the next breakpoint and   */
/* set the xl max at an optimal width for most     */
/* user screen resolutions.                        */
/* See $grid-breakpoints in _variables.scss.       */
/* =============================================== */
$container-max-widths: (
  sm: 738px,
  md: 962px,
  lg: 1170px,
  xl: 1360px
) !default;

