// Images
// -----------------------------------------------------------------------------

/* DUL revisions to alignment classes applied by Media Library     */
/* Note: we'll use these for migrated images, replacing our custom */
/* D7 image-left, image-center, image-right classes.               */

/* See core styles: */
/* https://git.drupalcode.org/project/drupal/-/blob/9.4.x/core/modules/system/css/components/align.module.css */

.align-left {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.align-right {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* For display: flex elements rendered via Media Library (.media) */
.align-center {
  justify-content: center;
  margin-bottom: 1rem;
}

/* DUL Custom extra image classes to standardize height or width. These   */
/* can be used in e.g. carousel sliders or Bootstrap media elements where */
/* source images are potentially different dimensions. */

img {
  &[class*="img-fixed-"] {
    object-fit: cover;
  }

  /* Fixed Heights */
  &.img-fixed-height-50px {
    height: 50px !important;
  }
  &.img-fixed-height-75px {
    height: 75px !important;
  }
  &.img-fixed-height-100px {
    height: 100px !important;
  }
  &.img-fixed-height-125px {
    height: 125px !important;
  }
  &.img-fixed-height-150px {
    height: 150px !important;
  }
  &.img-fixed-height-175px {
    height: 175px !important;
  }
  &.img-fixed-height-200px {
    height: 200px !important;
  }
  &.img-fixed-height-250px {
    height: 250px !important;
  }
  &.img-fixed-height-300px {
    height: 300px !important;
  }

  /* Fixed Widths */
  &.img-fixed-width-50px {
    width: 50px !important;
  }
  &.img-fixed-width-75px {
    width: 75px !important;
  }
  &.img-fixed-width-100px {
    width: 100px !important;
  }
  &.img-fixed-width-125px {
    width: 125px !important;
  }
  &.img-fixed-width-150px {
    width: 150px !important;
  }
  &.img-fixed-width-175px {
    width: 175px !important;
  }
  &.img-fixed-width-200px {
    width: 200px !important;
  }
  &.img-fixed-width-250px {
    width: 250px !important;
  }
  &.img-fixed-width-300px {
    width: 300px !important;
  }
}

/* BOOTSTRAP CAROUSEL IMAGES */
/* Ensure images that are < 1200px will stretch to fill full width. */

.carousel-item img {
  width: 100%;
}

/* IMAGE STYLES - for custom image styles in Drupal */

/* Small thumbnail with border (150x150) */
.media--view-mode-small-thumbnail-with-border-150x150- {
  img {
    padding: 0.25rem;
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    border-radius: 0;
    max-width: 100%;
    height: auto;
  }
}
