/* Styles for tabbed content, especially the */
/* Search Resources boxes. */
/* ----------------------------------------- */

.nav-tabs {
  .nav-item {
  }
  .nav-link {
    font-weight: 600;
    &.active {
      font-weight: 700;
    }
  }
}

.tab-content {
  & > .tab-pane {
    padding-top: 1.5rem;
  }
}

.search-resources-box {
  .tab-column {
    background-color: shade($whisper-gray, 20%);
    .nav-tabs li:last-of-type .nav-link {
      border-bottom-width: 0;
    }
    .nav-tabs {
      border-bottom: 0;
      .nav-item {
        margin-bottom: 0;
      }
    }
    .nav-link {
      color: $gray-800;
      background-color: $whisper-gray;
      border-radius: 0;
      border-style: solid;
      border-width: 0 0 1px 0;
      border-color: shade($whisper-gray, 20%);
      &.active {
        background-color: tint($primary, 20%);
        color: white;
      }
      @include media-breakpoint-down(md) {
        border-width: 0 1px 0 0;
      }
    }
  }
  .content-column {
    background-color: tint($primary, 20%);
    background-image: url('../../images/search-resources-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 0.5rem 2rem;
    .tab-content > .tab-pane {
      padding: 0;
    }
    a {
      color: white;
    }
    .input-group-prepend {
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 0.5rem;
      }
      select {
        border-radius: 0.25rem 0 0 0.25rem;
        border-width: 0 2px 0 0;
        @include media-breakpoint-down(md) {
          width: 100%;
          border-radius: 0.25rem;
          border-width: 0;
        }
      }
    }

    /* Adjust Typeahead so it flexes to correct width */
    .twitter-typeahead {
      flex-grow: 1;
      input {
        width: 100%;
        border: 1px solid transparent;
      }
    }

    .limit-options {
      margin-bottom: 0.75rem;
      .form-check-inline {
        margin-bottom: 0.25rem;
      }
    }
    .list-inline .list-inline-item {
      a {
        font-weight: 600;
        margin-right: 0.5rem;
      }
    }
  }
  .search-links {
    a {
      color: $gray-200;
      font-size: 0.9rem;
      font-weight: 600;
      &:hover {
        color: white;
      }
    }
  }
}


/* Default tab picker (DUL homepage) */

#gearSettings {
  &.default-set {
    color: $piedmont;
  }
}

.setTabDefault {
  &.current-default {
    font-weight: 600;
    color: $gray-dark;
    cursor: auto;
    text-decoration: none !important;
  }
}
