{#
/**
 * @file
 * Template for a Figure component.
 *
 * Local DUL customization of Radix component:
 * https://github.com/radixtheme/radix/blob/8.x-4.x/src/components/figure/figure.twig
 *
 * This fixes the Drupal Media Library caption feature per DS-765.
 *
 * Explanation of the Radix bug here: https://www.drupal.org/project/radix/issues/3201877
 *
 * Available config:
 * - utility_classes: An array of utility classes.
 * - align: left|right|center
 * - responsive: true|false
 */
#}
{% set classes = [
  'figure',
]|merge(utility_classes ? utility_classes : []) %}

<figure{{ attributes.addClass(classes) }}>
  {{ image }}
  {# DUL CUSTOMIZATION; removed "if caption" conditional here to fix Radix bug #}
  <figcaption class="figure-caption">{{ caption }}</figcaption>
</figure>

