<div {{ attributes.addClass('dul-2col-6-6') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
    </div>
  </div>
</div>
