<div {{ attributes.addClass('dul-nested-9-3-sub-4-8') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <div class="row">
          <div class="col-12">
            <div {{ region_attributes.column1_top }}>
              {{ content.column1_top }}
            </div>
          </div>

          <div class="col-lg-4 col-md-12">
            <div {{ region_attributes.column1_left }}>
              {{ content.column1_left }}
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div {{ region_attributes.column1_right }}>
              {{ content.column1_right }}
            </div>
          </div>

          <div class="col-12">
            <div {{ region_attributes.column1_bottom }}>
              {{ content.column1_bottom }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
    </div>
  </div>
</div>
