<div {{ attributes.addClass('dul-3col-2-5-5') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-5 col-md-5">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
      <div class="col-lg-5 col-md-4">
        <div {{ region_attributes.column3 }}>
          {{ content.column3 }}
        </div>
      </div>
    </div>
  </div>
</div>
