<div {{ attributes.addClass('dul-2col-10-2') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-9">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
    </div>
  </div>
</div>
