<div {{ attributes.addClass('dul-2col-4-8') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-5">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-8 col-md-7">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
    </div>
  </div>
</div>
