// Exhibits content styles (masthead, menu, etc)
// -----------------------------------------------------------------------------

#zone-masthead.exhibits-masthead {
  height: 100px !important;
  margin-bottom: .15em;
  background-image: linear-gradient(to right, #114981 75%, #235f9c 25%, #235f9c 100%);
}

#exhibits-masthead {

  .dul-logo {
    display: inline-block;
    padding: 1.5rem 0 0 1rem;
    margin-right: 1rem;
    background: #114981;
  }

  .exhibits-logo {
    display: inline-block;
    padding: 1.5rem 1rem 0 0;
    background: #114981;
  }

  .logo-spacer {
      display: inline-block;
      background-color: #235f9c;
    }

  .library-logo img,
  .exhibits-logo img{
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    
    .dul-logo {
      padding: 1.5rem 0 0 1.5rem;
    }

    .exhibits-logo {
      padding: 1.5rem 1rem 0 1.5rem;
    }
  }

}


#exhibits_menu {
  background: #464646;

  .navbar {
    justify-content: end;
    padding: 0;
  }

  @include media-breakpoint-up(md) {
    .navbar {
      justify-content: space-between;
    }
  }

  #exhibits-navbar-btn {
    color: #eee;
    font-size: .9em;
    font-weight: bold;
  }

  .block--exhibitsmenu {
    background: #464646;

    ul {
      font-size: .85em;
      font-weight: bold;

      li a {
        color: #fff;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }

      li.active {
        background: #262626 !important;
      }

      li:not(.has-form) a:not(.button):hover {
        background: #262626;
      }

    }
  }
}


/* exhibits page header styles */

body.page-node-type-exhibits-page {

  h1 {
    margin-bottom: 0;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

}

/* exhibits content styles */

.exhibits-view {

  &:not(.exhibits-past-by-space) {
    
    div.row {
      margin-left:0;
      margin-right:0;
    
      div.col-12 {
        background: #fff;
        padding: 0;
        box-shadow: 0px 0 6px 1px #ddd;
        border: 8px solid #fff;
        margin-bottom: 2rem;
        padding-bottom: 0.5rem;

        @include media-breakpoint-up(md) {
          flex: 0 0 48%;
          margin-right: 4%;
          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }

        @include media-breakpoint-up(lg) {
          flex: 0 0 32%;
          margin-right: 2%;
          margin-bottom: 2%;
          &:nth-of-type(2n) {
            margin-right: 2%;
          }
          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.exhibits-past {
    margin-left: 15px;
    margin-right:15px;
  }

  .views-exposed-form {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ddd;

    @include media-breakpoint-up(md) {
      .js-form-item.form-group {
        width: 20%;
        margin-right: 2%;
        display: inline-block;
      }
      .js-form-item.js-form-type-select {
        width: 8rem;
      }
      .form-actions {
        display: inline-block;
      }
    }
  }

  .views-field-field-image div {
    max-height: 17.5em;
    overflow: hidden;
    border-bottom: 2px dotted #eee;
    
    .img-fluid {
      width: 100%;
    }
  }

  .views-field-title {
    font-size: 1.35rem;
    line-height: 1.2;
    margin-bottom: .5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
  }

  .views-field-field-exhibit-sub-title {
    font-size: 1.1rem;
    color: #222;
    line-height: 1.2;
    margin-bottom: .5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .views-field-field-opening-date {
    font-size: .9rem;
    text-transform: uppercase;
    color: #767676;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .views-field-field-exhibit-location,
  .views-field-field-exhibit-location-list {
    font-size: .9rem;
    color: #222;
    padding-top: 0.5em;
    border-top: 1px dotted #ddd;
    margin-top: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .views-field-field-exhibit-sponsor {
    font-size: .9rem;
    color: #222;
    font-style: italic;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 1.2;
    padding-top: 0.25rem;
  }
}


.exhibits-about-gallery {
  margin-bottom: 2rem;

  .image {
    img {
      width: 100%;
      border: 3px solid #eee;
    }
  }

  .description {
    padding-left: 1rem;
    h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
  }
}

.exhibits-view.current-exhibit {
  border: 5px solid #eee;
  padding: 0;
  background: #444;
  margin-bottom: 3em;

  a:hover {
    text-decoration: none;
    color: #ceb69f;
  }

  .image {
    overflow: hidden;
    max-height: 20em;
    img {
      width: 100%;
    }
  }

  .description {
    color: #ceb69f;
    background: #444;
    padding: 2rem 2rem 0 2rem;
    h2 {
      color: #ceb69f;
    }
    p.subtitle {
      font-size: 1.5rem;
      line-height: 1.2;
    }

    p.dates {
      width: 100%;
      text-align: right;
      margin-top: 1rem;
    }

  }
}

.exhibits-view.exhibits-past-by-space {

  div.col-12 {
    .views-field {
      background: #f3f3f3;
      margin: 0;
      padding: 0 .75rem .75rem .75rem;
    }
    .views-field-field-image {
      margin-top: 2rem;
      padding: .25rem .25rem .75rem .25rem;
    }
    .views-field-title {
      font-size: 1.2rem;
      
    }
    .views-field-field-exhibit-sub-title {
      font-size: 1rem;
    }

    @include media-breakpoint-up(md) {
    }

  }
}

.exhibits-about-content {
  font-size: 1.25rem;
}

.exhibits-about-sidebar {
  background: #f2f2f2;
  padding: 1.5rem;

  .sidebar-image {
    border: .75rem solid #fff;
    margin-bottom: 2rem;
  }

}


.exhibits-page__field-exhibit-online-exhibit {
  margin-bottom: 2rem;
}

.exhibits-page__field-opening-date,
.exhibits-page .field--name-field-opening-date {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.exhibits-page__field_exhibit_location_list,
.exhibits-page__field_exhibit_location,
.exhibits-page__field_exhibit_sponsor,
.exhibits-page__field_exhibit_artist {
  margin-bottom: .5rem;
  font-size: 1.25rem;
}

.exhibits-page__field-image {
  text-align: center;
  margin-bottom: 1rem;
}

.exhibits-page__field-exhibit-image-caption {
  color: #666;
}


