// Hours Display
// -----------------------------------------------------------------------------


/* Hours box (daily hours) */

#dul-hours-block .hours-row .hours,
#dul-hours-block .hours-today .hours {
  float: right;
}

#dul-hours-block .hours-today .day {
  font-weight: 600;
}

#dul-hours-block .hours-today .hours {
  font-weight: 600;
}

#dul-hours-block .hours-today .genpublic,
#dul-hours-block .genpublic {
  font-size: .9em;
  float: right;
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: 1em;
  margin-top: .25em;
}

#dul-hours-block .hours-row:nth-of-type(3) {
  margin-bottom: 1em;
}

#dul-hours-block .other {
  display: block;
  clear: both;
  text-align: center;
  padding-top: .5em;
  border-top: 1px dotted $limestone;
  border-bottom: 1px dotted $limestone;
  padding-bottom: .5em;
  font-size: .85em;
  margin-bottom: .25em;
  line-height: 1.1;
}

.spinner-wrapper {
  font-size: 2.5rem;
  color: $granite;
  text-align: center;
}

#dul-hours-block .spinner-wrapper {
  font-size: 1.5rem;
}



/* Hours table (monthly hours) */

/* Calendar Styles */

.s-lc-mhw-header {
  .btn-default {
    font-size: 2rem;
    line-height: 1rem;
    vertical-align: top;
    padding: .65rem 1rem .65rem 1rem;
  }
}
.s-lc-mhw-tb { width: 100%; border: 1px solid $secondary; border-collapse: collapse; border-spacing: 0; } 
.s-lc-mhw-tb th, .s-lc-mhw-tb td { border: 1px solid $secondary; vertical-align: top; } 
.s-lc-mhw-tb thead { background-color: $whisper-gray; } 
.s-lc-mhw-header { text-align: center; } 
.s-lc-mhw-header-date { text-align: center; display: inline-block; margin-top: 5px; font-size: 130%; } 
.s-lc-mhw-days th { text-align: center; font-weight: bold; min-width: 14.286%; max-width: 14.286%; width: 14.286%;} 
.s-lc-mhw-days td { } 
.s-lc-mhw-day-l { color: $graphite; text-align: right; padding: 2px; font-size: 15px; } 
.s-lc-mhw-cells { height: 100px; } 
.s-lc-mhw-fnc { color: $graphite; } 
.s-lc-mhw-loc { font-size: 15px; padding: 2px; border-radius: 4px; margin-bottom: 1px; color: $dark; margin-top: .5rem; text-align: center;} 
.s-lc-mhw-subloc { margin-left: 5px;} 
.s-lc-mhw-footnote-cal { font-size: 86%;}
.s-lc-mhw-noday { background: $whisper-gray;}

.s-lc-time,
.s-lc-closed,
.s-lc-allday {
  font-size: 20px;
}


.s-lc-mhw-day.lc_today {
  background-color: $primary;
  border: 1px solid rgba(3,32,81,1);
}

.s-lc-mhw-day.lc_today .s-lc-mhw-day-l,
.s-lc-mhw-day.lc_today .s-lc-mhw-loc {
  color: #fff;
}

.s-lc-mhw-sub-loc {
  border-top: 1px solid $light;
  margin-top: 1rem;
  padding-top: 1rem;
  font-style: italic;
}

.s-lc-mhw-sub-loc .s-lc-time,
.s-lc-mhw-sub-loc .s-lc-closed {
  font-size: 1rem;
}

.s-lc-mhw-loc .s-lc-mhw-loc-name {
  display: none;
}

.s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time::before,
.s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed::before  {
   content: 'public: '
 }
 
/* hide main content for gen public */

.public-month .s-lc-time,
.public-month .s-lc-closed {
  display: none;
}

.public-month .s-lc-mhw-sub-loc {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  font-style: normal;
}

.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time,
.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed  {
   font-size: 1.25rem;
   display: block;
 }

.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-time::before,
.public-month .s-lc-mhw-loc.s-lc-mhw-sub-loc .s-lc-closed::before  {
   content: ''
 }
