/* DUL CUSTOMIZED styles for Bootstrap Grid Views    */
/* ================================================  */

a.bootstrap-grid-dul-title-link {
  font-size: 15px;
  line-height: 1.2rem;
  display: inline-block;
  margin-bottom: 1rem;
  color: $gray-dark;
  &:hover {
    color: $link-hover-color;
  }
}

.bootstrap-grid-dul-title {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

