/* DUL CUSTOMIZED styles for Bootstrap Carousels */
/* especially for better accessibility.          */

.carousel-caption {
  padding-left: 10px;
  padding-right: 10px;
  left: 0;
  bottom: 0;
  padding-bottom: 8px;
  padding-top: 400px;
  width: 100%;
  background-image: linear-gradient(transparent 67%,transparent 33%,rgba(0,0,0,0.7));
  text-shadow: 1px 1px 1px #000000;
  & a {
    font-weight: bold;
    color: white;
  }
  & .moreLink {
    margin-left: 0.2em;
    font-weight: bold;
  }
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 11;
  width: 10%;
}

.carousel-indicators {
  top: 0;
  right: 5px;
  left: auto;
  bottom: auto;
  margin: 0;
  width: auto;
  text-align: right;
}
