/* DUL styles for event calendar views   */
/* ====================================  */

/* Hide upcoming events after a cutoff by using different classes. */
/* This is a bit of a workaround. JSON from LibCal API sometimes   */
/* includes events that have ended within the past day. So we use  */
/* Views to write a class on each row to distinguish past vs.      */
/* upcoming events, then CSS to refine the number of upcoming to   */
/* display. CSS :nth-child & :nth-of-type pseudo-classes don't     */
/* work with classes, unfortunately.                               */

.events-view-show-next-1 {
  .upcoming-event + .upcoming-event {
    display: none !important;
  }
}

.events-view-show-next-2 {
  .upcoming-event + .upcoming-event + .upcoming-event {
    display: none !important;
  }
}

.events-view-show-next-3 {
  .upcoming-event + .upcoming-event + .upcoming-event + .upcoming-event {
    display: none !important;
  }
}

.events-view-show-next-4 {
  .upcoming-event + .upcoming-event + .upcoming-event + .upcoming-event + .upcoming-event {
    display: none !important;
  }
}

.events-view-show-next-5 {
  .upcoming-event + .upcoming-event + .upcoming-event + .upcoming-event + .upcoming-event + .upcoming-event {
    display: none !important;
  }
}

