/* DUL CUSTOMIZED styles for FlexSlider sliders  */
/* and navigation. Note there are related image  */
/* styles in _images.scss.                       */
/* ============================================  */

.flexslider {
  margin: 0;
  background: transparent;
  border: none;

  a.flexslider-dul-link {
    color: $gray-dark;
    &:hover {
      color: $link-hover-color;
    }
  }
  .flexslider-dul-title {
    font-size: 15px;
    line-height: 1.2rem;
    margin: 0.5rem 0;
  }
}

/* HORIZONTAL SLIDERS */
/* NOTE optionset-* class is set by the plugin to  */
/* match machine name of the FlexSlider optionset. */
/* Config at /admin/config/media/flexslider        */
/* ----------------------------------------------- */

.flexslider {
  &[class*="optionset-dul-horizontal-slider"] {
    .slides li {
      margin-right: 10px;
    }

    /* NAVIGATION  */
    /* ============================================  */
    /* Built-in FlexSlider nav DUL modifications.   */
    /* We restyle the arrows to appear to the left  */
    /* and right of the slider in the gutters and   */
    /* to appear upon hover on the slider or arrows */
    /* -------------------------------------------- */
    .flex-direction-nav {
      a {
        margin: 0;
        top: 0;
        opacity: 0;
        width: 15px;
        height: 150px;
        display: block !important;
      }
      .flex-prev {
        left: -15px;
        .flexslider:hover & {
          left: -15px;
        }
      }
      .flex-next {
        right: -15px;
        .flexslider:hover & {
          right: -15px;
        }
      }
      .flex-prev, .flex-next {
        &:hover, &:focus {
          opacity: 1;
        }
      }
      .flex-prev::before, .flex-next::before {
        height: 100%;
        font-size: 18px;
        padding-top: 55px;
      }
    }
  }

  /* Option without a fixed number of items */
  &.optionset-dul-horizontal-slider-range-of-items {
    .flex-viewport {
      border-right: 2px solid $gray-100;
      border-left: 2px solid $gray-100;
      box-shadow: 4px 0px 4px -2px $gray-50,
                  -4px 0 2px -2px $gray-50;
      padding: 0 10px;
    }
  }
}

/* Navs rendered in an external span or div (#slider-nav)     */
/* Note this feature unfortunately does not support having    */
/* multiple sliders per page that use an external nav element */
/* ---------------------------------------------------------  */

#slider-nav {
  /* Paging Dots */
  .flex-control-paging {
    display: flex;
    position: static;
    white-space: nowrap;
    padding: 0.5rem;
    margin: 0;
    li a {
      background: $whisper-gray;
      border: 1px solid $gray-light;
      box-shadow: none;
      &.flex-active {
        background: $gray-light;
      }
    }
  }
  /* Prev & Next Arrows */
  .flex-direction-nav {
    display: flex;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    padding: 0.3rem;
    .flex-nav-prev, .flex-nav-next {
      display: inline-block;
    }
    a {
      color: $gray-light;
      display: block;
      position: static;
      top: 50%;
      z-index: 10;
      opacity: 1 !important;
      cursor: pointer;
      text-shadow: none;
      text-decoration: none;
      width: 16px;
      height: 18px;
      margin: 0;
      overflow: hidden;
      transition: none;
      &::before {
        content: "\f111";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin-left: 0;
        color: $gray-light;
        vertical-align: top;
        margin-top: 0;
        position: static;
        padding-top: 0;
        width: 16px;
        height: 18px;
        font-size: 18px;
      }
      &.flex-prev::before {
        content: "\f053";
      }
      &.flex-next::before {
        content: "\f054";
      }
      &.flex-prev, &.flex-next {
        &:hover, &:hover::before {
          color: $link-hover-color;
        }
      }
    }
  }
}

