{#
/**
 * @file
 * Renders link to selected exhibit space
 */
#}

{% set theLocation = element|render|striptags|trim %}

{% if theLocation == 'The Jerry and Bruce Chappell Family Gallery' %}

  {% set theLink = 'chappell' %}

{% elseif theLocation == 'Student Wall' %}

  {% set theLink = 'student-wall' %}

{% elseif theLocation == 'The Duke Campus Club Exhibit Wall' %}

  {% set theLink = 'campus-club' %}

{% elseif theLocation == 'The Josiah Charles Trent History of Medicine Room' %}

  {% set theLink = 'trent' %}

{% elseif theLocation == 'Mary Duke Biddle Room' %}

  {% set theLink = 'biddle' %}

{% elseif theLocation == 'Sperling Family Exhibit Cases' %}

  {% set theLink = 'sperling' %}

{% elseif theLocation == 'Rubenstein Library Photography Gallery' %}

  {% set theLink = 'photography' %}

{% elseif theLocation == 'Michael and Karen Stone Family Gallery' %}

  {% set theLink = 'stone' %}

{% elseif theLocation == 'Hubbard Case' %}

  {% set theLink = 'hubbard' %}

{% endif %}

<div class="exhibits-page__field_exhibit_location_list">
  <strong>Location:</strong> <a href="/exhibits/about/{{ theLink }}">{{ theLocation }}</a>
</div>
