{#
/**
 * @file
 * Renders button with value of field_exhibit_online_exhibit
 */
#}
<div class="exhibits-page__field-exhibit-online-exhibit">
  <a class="btn btn-primary btn-lg" href="{{ element|render|striptags|trim|lower }}">View the Online Exhibit »</a>
</div>
