// Page: Footer
// -----------------------------------------------------------------------------
footer.page__footer {

  font-size: 1rem;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  ul li {
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
  }

  a {
    color: $gray-darker;
  }

  address {
    line-height: 1.1rem;
  }

  h2, .social-media-icons {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    font-size: 22px;
    font-weight: 400;
  }

  .social-media-icons {
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    a {
      float: left;
      margin-right: 6px;
      svg {
        height: 1.4rem;
        width: 1.4rem;
        color: #666;
        &:hover {
          text-decoration: none;
          &.fa-twitter {
            color: #1da1f2;
          }
          &.fa-facebook {
           color: #4267b2;
          }
          &.fa-youtube {
           color: #ff0000;
          }
          &.fa-flickr {
            color: #ec0f80;
          }
          &.fa-instagram {
            color: #7324c2;
          }
          &.fa-rss-square {
            color: #e27800;
          }
        }
      }
    }
  }

  #duke-logo {
    margin-bottom: 20px;
  }


  #login-links {
    a {
      text-align: center;
      font-size: 14px;
      border: 1px solid $graphite;
      padding: 5px 10px 5px 5px;
      color: $graphite;
      background: transparent;
      font-weight: normal;
      margin-top: 0.5em;
      /* Login text is provided by Drupal User module menu, so can't */
      /* easily change it; using this CSS technique as a workaround. */
      /* We can use JS if we want to refine the title further.       */
      &[href$="/login"]::before {
        content: 'Library Staff ';
      }
      &:hover {
        background: shade($whisper-gray, 5%);
      }
    }
  }
}
