// Page: Page
// -----------------------------------------------------------------------------

body {
  background-color: $whisper-gray;
}

#zone-masthead {
  background-color: $dul-masthead-blue;
}

#breadcrumbs {
  font-size: 1rem;
}

/* Fix native Drupal styles for "preview mode" page display */
.node-preview-container {
  width: auto;
  background: rgba(255,255,255,0.95);
  font-size: 15px;
  box-shadow: -1px 0 3px 1px rgb(0 0 0 / 33%);
  .node-preview-backlink {
      font-weight: bold;
  }
  .form-item-view-mode {
    display: block;
  }
}

/* Distinguish unpublished pages for logged-in authors */
.node--unpublished::before {
  content: 'This page is unpublished';
  color: $danger;
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  background: tint($danger, 90%);
}

