// Page: Title
// -----------------------------------------------------------------------------

.block--drupal9-dulcet-page-title {
  h1 {
    border-bottom: 2px solid $whisper-gray;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    line-height: 1.1;

    &.no-border {
      border-bottom: none;
      padding-bottom: 0;
    }

  }
}

