{#
/**
 * Template for a menu.
 * Local DUL customization of Radix template:
 * https://github.com/radixtheme/radix/blob/8.x-4.x/templates/menu/menu.html.twig
 */
#}

{# Use the DUL CUSTOM nav component, which does NOT render nested menu links as dropdowns #}
{% include '@drupal9_dulcet/nav/nav.twig' %}
