{#
/**
 * @file
 * Template for a Nav component.
 * DUL CUSTOMIZATION: Overrides Radix nav component in order to
 * make nested sidebar menu links NOT render as dropdowns
 * See: https://github.com/radixtheme/radix/blob/8.x-4.x/src/components/nav/nav.twig
 *
 * Available config:
 * - alignment: left | right | center | vertical.
 * - style: tabs | pills
 * - fill: fill | justify
 * - utility_classes: An array of utility classes.
 */
#}
{% import _self as menus %}

{% if alignment == 'right' %}
  {% set alignment = 'justify-content-end' %}
{% elseif alignment == 'center' %}
  {% set alignment = 'justify-content-center' %}
{% elseif alignment == 'vertical' %}
  {% set alignment = 'flex-column' %}
{% else %}
  {% set alignment = '' %}
{% endif %}

{% set style = style ? 'nav-' ~ style : '' %}
{% set fill = fill ? 'nav-' ~ fill : '' %}

{% set nav_classes = [ 'nav', style, alignment, fill]|merge(utility_classes ? utility_classes : []) %}

{% if items %}
  <ul{{ attributes.addClass(nav_classes) }}>
    {% block items %}
      {% for item in items %}
        {# DUL CUSTOMIZATION: removed 'dropdown' class here #}
        {% set nav_item_classes = [
          'nav-item',
          item.in_active_trail ? 'active'
        ] %}
        {% set nav_link_classes = ['nav-link'] %}
        {% if item.url.options.attributes.class is iterable %}
          {% set nav_link_classes = nav_link_classes|merge(item.url.options.attributes.class) %}
        {% elseif item.url.options.attributes.class %}
          {% set nav_link_classes = nav_link_classes|merge([item.url.options.attributes.class]) %}
        {% endif %}
        <li class="{{ nav_item_classes|join(' ') }}">
            {% if item.is_expanded and item.below %}
              {# DUL CUSTOMIZATION: removed dropdown toggle here #}
              {{ link(item.title, item.url, { 'class': nav_link_classes }) }}
              {% if item.below %}
                {# DUL CUSTOMIZATION: include this nav component recursively instead #}
                {#   of radix's dropdown-menu component #}
                {% include '@drupal9_dulcet/nav/nav.twig' with {
                  items: item.below
                } %}
              {% endif %}
            {% else %}
              {{ link(item.title, item.url, { 'class': nav_link_classes }) }}
            {% endif %}
        </li>
      {% endfor %}
    {% endblock %}
  </ul>
{% endif %}
